.search__janr {
  margin-top: 30px;
}

.wrap__main.date {
  overflow-y: hidden;
}

.search__category {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}

.search__category__item {
  display: flex;
  gap: 14px;
}

.search__category__item span {
  padding: 2px 24px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 32px;
}

.wrap__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__search {
  flex-direction: column;
}

.setting__search,
.date__search,
.actor__search {
  display: none;
  flex-direction: column;
}

.show__wrap {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.show__wrap__top,
.show__wrap__sort {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show__wrap__top div {
  display: flex;
  gap: 8px;
}

.show__wrap__top div span {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
}

.show__wrap__top div span.active {
  background: #252836;
  color: #12cdd9;
}

.show__wrap__card {
  border-radius: 8px;
  background: #252836;
  font-size: 12px;
}

.show__wrap__card div {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
}

.show__wrap__sort div {
  display: flex;
  gap: 8px;
}
.sort__item {
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 12px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: 0.3s ease;
}
.sort__item.active {
  color: #12cdd9;
  background: #252836;
}

.janr__search {
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
  display: none;
}

.janr__search .search__wrapper,
.actor__search .search__wrapper,
.janr__card {
  margin-top: 24px;
}

.janr__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.janr__card__wrap {
  border-radius: 8px;
  background: #252836;
}
.janr__card__wrap div {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-size: 12px;
}

.janr__card__wrap div img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.3s ease;
}

.janr__card__wrap div.active img {
  opacity: 100%;
}

.blue-btn {
  position: fixed;
  top: calc(100vh - 108px);
  left: 0;
  width: 100%;
}

.blue-btn div {
  background: #12cdd9;
  border-radius: 32px;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date__search {
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000b2;
  justify-content: end;
}

.date__card {
  width: 100%;
  background: #252836;
}
.date__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #ffffffe5;
}

.date__filter {
  background: #ffffff33;
  height: 30px;

  margin-top: 24px;
  border-radius: 8px;
}
.spread {
  width: 100%;
  display: flex;
  align-items: center;
}

.spread span {
  width: 50%;
  display: flex;
  justify-content: center;
}

.text-grey {
  margin-top: 4px;
}
.text-grey span {
  color: #92929d;
  font-size: 16px;
  font-weight: 500;
}

.overflow-y {
  height: 120px;
  max-height: 120px;
  overflow-y: auto;
}

.spread__col {
  flex-direction: column;
  align-items: start;
}

.spread__col span {
  width: 100%;
}

.w-half {
  width: 100%;
  display: flex;
}

.w-half .tr-scrollbar {
  width: 50%;
}
